@font-face {
    font-family: "Montserrat";
    src: url(./static/Montserrat-Black.ttf);
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Montserrat";
    src: url(./Montserrat-Italic-VariableFont_wght.ttf);
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: "Montserrat";
    src: url(./static/Montserrat-Bold.ttf);
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: "Montserrat";
    src: url(./static/Montserrat-Light.ttf);
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: "Montserrat";
    src: url(./static/Montserrat-Medium.ttf);
    font-weight: normal;
    font-style: normal;
}